In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

### here we will get web data by using GET from requests

In [2]:
web=requests.get('http://www.espncricinfo.com/rankings/content/page/211271.html')
web

In [3]:
web.status_code

200

In [4]:
web.headers

{'Accept-Ranges': 'bytes', 'Content-Encoding': 'gzip', 'Content-Type': 'text/html; charset=UTF-8', 'EMEA-Info': 'web03 0.048', 'Server': 'Apache', 'X-Varnish': '78398484', 'X-Varnish-Cache': 'MISS', 'Content-Length': '17736', 'Expires': 'Sun, 06 Feb 2022 04:58:23 GMT', 'Cache-Control': 'max-age=0, no-cache, no-store', 'Pragma': 'no-cache', 'Date': 'Sun, 06 Feb 2022 04:58:23 GMT', 'Connection': 'keep-alive', 'Vary': 'Accept-Encoding', 'Set-Cookie': 'country=pk; path=/, region=unknown; expires=Sun, 13-Feb-2022 04:58:23 GMT; path=/', 'strict-transport-security': 'max-age=15552000'}

### here by using BS we parse the content

In [5]:
soup=bs(web.content,"html.parser")

### for getting correct formate use PRETTIFY

In [6]:
#print(soup.prettify())

### find the table which i want to see by using FINDALL and give class from html

In [7]:
ranks=soup.find_all("table" , class_="StoryengineTable")
get_heading=soup.find_all("div",class_="ciPhotoContainer")[0].find_all('h3')

### now use loop for neat view of html code inside class given above

In [8]:
# for elemnts in which_class:
#     print(elemnts,end="\n"*2)

In [9]:
for i,e in enumerate(ranks):
    print(get_heading[i].text)
    print(ranks[0].caption.text)  
    tr = e.find_all('tr')
    i=0
    for t in tr:
        if(i==0):
            search="th"
        else:
            search="td"
            
        for c in t.findChildren(search):
            print('{:20}'.format(c.text), end=" ")                
        print()
        i+=1
    print("\n\n")

ICC Test Rankings
16 January 2022
Pos                  Team                 Matches              Points               Rating
1                    Australia            23                   2736                 119
2                    New Zealand          28                   3264                 117
3                    India                32                   3717                 116
4                    England              41                   4151                 101
5                    South Africa         23                   2271                 99
6                    Pakistan             30                   2787                 93
7                    Sri Lanka            30                   2485                 83
8                    West Indies          33                   2480                 75
9                    Bangladesh           22                   1157                 53
10                   Zimbabwe             11                   342                  31



ICC ODI Rankings
16 January 2022
Pos                  Team                 Matches              Points               Rating
1                    New Zealand          17                   2054                 121
2                    England              32                   3793                 119
3                    Australia            28                   3244                 116
4                    India                35                   3776                 108
5                    South Africa         28                   2943                 105
6                    Pakistan             27                   2524                 93
7                    Bangladesh           30                   2740                 91
8                    Sri Lanka            35                   2835                 81
9                    West Indies          33                   2613                 79
10                   Afghanistan          20                   1336                 67
11                   Ireland              28                   1445                 52
12                   Scotland             10                   452                  45
13                   Zimbabwe             23                   951                  41
14                   Netherlands          10                   378                  38
15                   Oman                 17                   537                  32
16                   Nepal                11                   330                  30
17                   UAE                  10                   275                  28
18                   Namibia              8                    167                  21
19                   USA                  14                   232                  17
20                   PNG                  13                   0                    0



ICC Twenty20 Rankings
16 January 2022
Pos                  Team                 Matches              Points               Rating
1                    England              39                   10474                269
2                    India                36                   9627                 267
3                    Pakistan             46                   12225                266
4                    New Zealand          38                   9707                 255
5                    South Africa         35                   8858                 253
6                    Australia            40                   9927                 248
7                    West Indies          42                   9925                 236
8                    Afghanistan          17                   3951                 232
9                    Sri Lanka            30                   6950                 232
10                   Bangladesh           37                   8529                 231
11                   Zimbabwe             30                   5751                 192
12                   Nepal                19                   3556                 187
13                   Scotland             24                   4447                 185
14                   UAE                  15                   2750                 183
15                   Ireland              34                   6227                 183
16                   Namibia              25                   4435                 177
17                   Oman                 13                   2260                 174
18                   Netherlands          23                   3992                 171
19                   PNG                  19                   3166                 167
20                   Singapore            12                   1678                 140
21                   Qatar                15                   1917                 128
22                   Canada               16                   1976                 124
23                   Jersey               19                   2333                 123
24                   Hong Kong            13                   1572                 121
25                   Uganda               28                   2948                 105
26                   Italy                12                   1245                 104
27                   Kuwait               12                   1241                 103
28                   USA                  16                   1644                 103
29                   Saudi Arabia         8                    801                  100
30                   Kenya                20                   1988                 99
31                   Bermuda              12                   1056                 88
32                   Malaysia             20                   1723                 86
33                   Germany              23                   1972                 86
34                   Bahrain              8                    675                  84
35                   Tanzania             13                   1062                 82
36                   Denmark              15                   1160                 77
37                   Botswana             14                   1070                 76
38                   Guernsey             9                    645                  72
39                   Spain                11                   768                  70
40                   Romania              17                   1163                 68
41                   Norway               10                   667                  67
42                   Nigeria              23                   1487                 65
43                   Austria              13                   756                  58
44                   Belgium              17                   955                  56
45                   Sweden               10                   536                  54
46                   Philippines          5                    241                  48
47                   France               7                    333                  48
48                   Mexico               7                    313                  45
49                   Cayman Islands       3                    132                  44
50                   Vanuatu              10                   435                  44
51                   Portugal             9                    387                  43
52                   Ghana                13                   541                  42
53                   Isle of Man          8                    329                  41
54                   Luxembourg           16                   613                  38
55                   Argentina            11                   416                  38
56                   Bahamas              6                    223                  37
57                   Malawi               15                   556                  37
58                   Peru                 5                    179                  36
59                   Fiji                 3                    105                  35
60                   Finland              9                    313                  35
61                   Sierra Leone         10                   331                  33
62                   Hungary              5                    165                  33
63                   Samoa                5                    159                  32
64                   Japan                4                    126                  32
65                   Costa Rica           4                    126                  32
66                   Belize               11                   341                  31
67                   Malta                25                   766                  31
68                   Panama               11                   287                  26
69                   Thailand             7                    175                  25
70                   Cyprus               9                    210                  23
71                   Czech Republic       19                   396                  21
72                   South Korea          4                    78                   20
73                   Greece               5                    94                   19
74                   Mozambique           13                   214                  16
75                   Rwanda               14                   206                  15
76                   Bhutan               4                    47                   12
77                   Bulgaria             20                   221                  11
78                   St Helena            6                    55                   9
79                   Seychelles           6                    54                   9
80                   Brazil               5                    39                   8
81                   Maldives             11                   55                   5
82                   Gibraltar            14                   55                   4
83                   Chile                5                    19                   4
84                   Myanmar              3                    1                    0
85                   Eswatini             9                    0                    0
86                   Lesotho              9                    0                    0
87                   China                4                    0                    0
88                   Turkey               3                    0                    0
89                   Serbia               5                    0                    0
90                   Indonesia            3                    0                    0
91                   Estonia              6                    0                    0



ICC Women's ODI Team Rankings
16 January 2022
Pos                  Team                 Matches              Points               Rating
1                    Australia Women      18                   2918                 162
2                    England Women        19                   2257                 119
3                    South Africa Women   21                   2489                 119
4                    India Women          17                   1899                 112
5                    Bangladesh Women     5                    475                  95
6                    West Indies Women    22                   2016                 92
7                    New Zealand Women    19                   1668                 88
8                    Pakistan Women       18                   1226                 68
9                    Ireland Women        5                    240                  48
10                   Sri Lanka Women      5                    233                  47
11                   Zimbabwe Women       7                    0                    0



ICC Women's T20 Team Rankings
16 January 2022
Pos                  Team                 Matches              Points               Rating
1                    Australia Women      21                   6160                 293
2                    England Women        26                   7398                 285
3                    India Women          23                   6081                 264
4                    New Zealand Women    17                   4487                 264
5                    South Africa Women   20                   5030                 252
6                    West Indies Women    19                   4691                 247
7                    Pakistan Women       18                   4027                 224
8                    Sri Lanka Women      12                   2476                 206
9                    Bangladesh Women     15                   2850                 190
10                   Thailand Women       17                   2851                 168
11                   Zimbabwe Women       17                   2730                 161
12                   Ireland Women        20                   3209                 160
13                   Scotland Women       20                   3036                 152
14                   PNG Women            9                    1174                 130
15                   Nepal Women          15                   1926                 128
16                   UAE Women            11                   1412                 128
17                   Samoa Women          6                    749                  125
18                   Tanzania Women       12                   1340                 112
19                   Uganda Women         13                   1350                 104
20                   Netherlands Women    15                   1396                 93
21                   Namibia Women        22                   1911                 87
22                   Indonesia Women      9                    761                  85
23                   Hong Kong Women      13                   1013                 78
24                   Kenya Women          16                   1225                 77
25                   Germany Women        16                   1112                 70
26                   China Women          8                    538                  67
27                   USA Women            10                   623                  62
28                   Brazil Women         9                    524                  58
29                   Vanuatu Women        6                    324                  54
30                   Japan Women          5                    260                  52
31                   Malaysia Women       16                   811                  51
32                   Rwanda Women         21                   1025                 49
33                   Belize Women         3                    135                  45
34                   Myanmar Women        5                    212                  42
35                   Jersey Women         4                    160                  40
36                   Canada Women         8                    277                  35
37                   Nigeria Women        17                   514                  30
38                   France Women         12                   315                  26
39                   Oman Women           5                    129                  26
40                   Botswana Women       14                   317                  23
41                   Austria Women        14                   316                  23
42                   Bhutan Women         7                    152                  22
43                   Sierra Leone Women   6                    126                  21
44                   Kuwait Women         11                   206                  19
45                   South Korea Women    4                    73                   18
46                   Malawi Women         4                    71                   18
47                   Mexico Women         3                    42                   14
48                   Costa Rica           4                    34                   9
49                   Mozambique Women     11                   31                   3
50                   Qatar Women          5                    14                   3
51                   Fiji Women           6                    0                    0
52                   Argentina Women      9                    0                    0
53                   Norway Women         4                    0                    0
54                   Mali Women           3                    0                    0